<div class="container rounded shadow mt-5 h-50 w-50">

  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-12 p-5 text-center">
      <img src="../../assets/{{movie?.key}}.jpg" alt="movie?.name" class="img-fluid img-thumbnail">
    </div>
    <div class="col-lg-6 col-12 py-5 mw-100">
      <h3>{{movie?.name | uppercase}}</h3>
      <div>
        <p>Synopsis: <em>{{movie?.description}}</em></p>
        <p>Genres: {{movie?.genres.join(", ")}}</p>
        <p>Rate: {{movie?.rate}}</p>
        <p>Length: {{movie?.length}}</p>
        <p><a [routerLink]="['/movies']" >Go Back to List</a></p>
      </div>
    </div>
  </div>
</div>
